.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.both{

}

.inputfield{
  width: 60vh;
  height: 80vh;
  margin-top: 2em;
  border: solid #282c34;
}

.both{
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}

.fccSymb{
  float: left;
}

.windowsizebtn{
  float: right;

}

.wrapperheader{
  display: flex;
  align-content: center;
  border: solid #282c34;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.editor{
  height: 50vh;
}

.previewer{
  width: 50%;
  border: solid #282c34;
  padding: 1em;
}
.col-6{
  width: 100%;
  margin: 20px;
}
button{
  visibility: hidden;
}

.title{
  margin-left: 0.5em;
  font-weight: bold;
}